<html>
<head>
    <link rel="stylesheet" href="/site.css"></link>
</head>

<body>

    {{> menu}}

    <h1>Hello Mustache!</h1>

    {{name}} lives on {{address.street}}, {{address.city}}, {{address.state}}.
    Age is {{age}}

</body>
</html>